@import 'mixins/clear.less';
//最外層包裹
#wrapper{
    a
    {
        color: #7a7a7a;
        text-decoration: none;
    }
    //頭部
    #header
    {
        //上面部分
        .headTop
        {
            background: #eaeaea;
            height: 30px;
            //版心元素
            .headTopMain
            {
                width: 1200px;
                margin: 0 auto;
                line-height: 30px;
                //解高度塌陷
                .clearfix();
                //左側
                .left
                {
                    float: left;
                    h5
                    {
                        float: left;
                        margin-right: 5px;
                    }
                    p
                    {
                        float: left;
                        a
                        {
                            &:first-child
                            {
                                border-right: 1px solid #b3aeae;
                                margin-right: 0px;
                                padding-right: 5px;
                            }
                        }
                    }
                }
                //右側
                .right
                {
                    float: right;
                    nav
                    {
                        //文字預設 除了margin外，文字間還會自帶間距
                        //需要將font-size調成0 解掉
                        font-size: 0;
                        a
                        {
                            //呈上，調成0解掉後，僅a的要開回來
                            font-size: 12px;
                            margin-right: 10px;
                            //用padding是為了撐開看border的距離
                            padding-right: 10px;
                            border-right: 1px solid #b3aeae;
                            //最後一個元素沒有豎線
                            &:last-child
                            {
                                border: none;
                                //重要: 因為沒豎線了，記得把padding拿掉
                                padding-right: 0;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        //下面部分
        .headBottom
        {
            //版心元素
            .headBottomMain
            {
                width: 1200px;
                margin: 0 auto;
                .clearfix();
                //logo
                .logo
                {
                    float: left;
                    a
                    {
                        img
                        {
                            width: 175px;
                            height: 56px;
                            margin: 25px 45px;
                        }
                    }
                }
                //search
                .search
                {
                    float: right;
                    margin-top: 35px;
                    input
                    {
                        &:first-child
                        {
                            box-sizing: border-box;
                            width: 490px;
                            height: 32px;
                            padding: 0 4px;
                            border: 3px solid #ea4a36;
                            //行內元素的浮動 會解除行內之間的縫隙
                            float: left;
                        }
                        &:last-child
                        {
                            width: 68px;
                            height: 32px;
                            color: #fff;
                            background: #ea4a36;
                            border: none;
                        }
                        &::-webkit-input-placeholder
                        {
                            color: yellowgreen;
                        }
                    }
                }
            }
        }
    }
}